html {
    overflow-x: hidden;
}
.header
{
    padding: 20px;
    align-content: center;
    text-align: center;
}
.list{
    font-size: 23px;
}
body{
    background-image:url("Wallpaper%20-%20Copy.jpeg");
    background-size:contain;
}
.disclamer{
    font-size: 8px;
    color:#333;
}
.active{
    background-color: darkgreen;
}
.home{
    margin-left:0.5%;
    padding-right: 0.5%;
}
.Logo{
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-color: black;
    padding:5px;
    border-radius: 15px;
}
.moto{
    font-weight:700;
    color:black;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.heading{
    font-size: 70px;
    color:black;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    padding: 6px;
    border-radius: 5px;
}
.heading:hover{
    color:chartreuse;
}
.heading:active{
    color:green;
}
.Pmessage{
    color:black;
    background-color: #777;
}
.footer{
    font-size:12px;
    background-color: #666;
    text-align: center;
}
.message{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height:630px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.membership{
    text-align: center;
}
.presentation{
    text-align: center;
}
.pdf{
    float: left;
}
.pdf1{
    float: right;
}
.links{
    text-align: center;
}





