html {
    overflow-x: hidden;
}
.header
{
    padding: 20px;
    align-content: center;
    text-align: center;
}
.list{
    font-size: 23px;
}
body{
  background-image:url("Wallpaper%20-%20Copy.jpeg");
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
.disclamer{
    font-size: 8px;
    color:#333;
}
.home{
    margin-left:0.5%;
}
.Logo{
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-color: black;
    padding:5px;
    border-radius: 15px;
}
.moto{
    font-weight:700;
    color:black;
    margin: 0px;
    padding: 0px;
    font-size: 35px;
}
.heading{
    font-size: 78px;
    color:black;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    padding: 6px;
    border-radius: 5px;
}
.heading:hover{
    color:chartreuse;
}
.heading:active{
    color:green;
}
.Pmessage{
    color:black;
    font-size: 50px;
    background-color: #777;
}
.footer{
    font-size:12px;
    background-color: #666;
    text-align: center;
}
.abc{
    text-align: center;
    background-color: rgba(150,150,150,0.7);
    margin-left: 32%;
    margin-right: 32%;

}






