html {
    overflow-x: hidden;
}
.header
{
    background-image:url("Wallpaper.jpg");
    background-size:cover;
    padding: 20px;
    align-content: center;
    text-align: center;
}
.list{
    font-size: 23px;
}
body{
    
}
.home{
    margin-left:0.5%;
}
.Logo{
    background-color: #F2AC29;
    background-image: linear-gradient(#F2AC29,#F2C029);
    box-shadow: 2px 2px 2px 2px;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-color: black;
    padding:5px;
    border-radius: 15px;
}
.moto{
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 2px 2px 2px 2px;
    background-color: #F2AC29;
    background-image: linear-gradient(#F2AC29,#F2C029);
    font-weight:700;
    color:black;
    padding: 0px;
    font-size: 35px;
}
.heading{
    font-size: 78px;
    color:black;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    padding: 6px;
    border-radius: 5px;
}
.disclamer{
    font-size: 8px;
    color:#333;
}
.heading:hover{
    color:chartreuse;
}
.heading:active{
    color:green;
}
.Pmessage{
    color:black;
    font-size: 50px;
    background-color: #777;
}
.footer{
    font-size:12px;
    position: absolute;
    background-color: #666;
    text-align: center;
}
.RAY{
    background-image: linear-gradient(dodgerblue,deepskyblue);
    margin-left: 35%;
    margin-right:35%;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}
div.abc {
    font-size: 28px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    background-color: rgba(150,150,150,0.7);
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (min-width: 601px) {
  div.abc {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  div.abc {
    font-size: 44px;
  }
}






