html {
    overflow-x: hidden;
}
.header
{
    background-image:url("Wallpaper.jpg");
    background-size:cover;
    padding: 20px;
    align-content: center;
    text-align: center;
}
.list{
    font-size: 23px;
}
body{
}
.home{
    margin-left:0.5%;
}
.Logo{
    background-color: #F2AC29;
    background-image: linear-gradient(#F2AC29,#F2C029);
    box-shadow: 2px 2px 2px 2px;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-color: black;
    padding:5px;
    border-radius: 15px;
}
.moto{
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 2px 2px 2px 2px;
    background-color: #F2AC29;
    background-image: linear-gradient(#F2AC29,#F2C029);
    font-weight:700;
    color:black;
    padding: 0px;
    font-size: 35px;
}
.heading{
    font-size: 78px;
    color:black;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    padding: 6px;
    border-radius: 5px;
}
.heading:hover{
    color:chartreuse;
}
.disclamer{
    font-size: 8px;
    color:#333;
}
.heading:active{
    color:green;
}
.Pmessage{
    color:black;
    font-size: 50px;
    background-color: #777;
}
.footer{
    font-size:12px;
    position: absolute;
    background-color: #666;
    text-align: center;
}
.abc{
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    background-color: rgba(150,150,150,0.7);
    margin-left: 25%;
    margin-right: 25%;

}
.para{
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    background-color: rgba(250,220,0,0.7);
    margin-left: 10%;
    margin-right: 10%;
}
.pdf{
    text-align: center;
}
.images{
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    background-color: rgba(211,211,211,0.7);
    margin-right:6%;
    padding-top:5%;
    padding-bottom:5%;
    margin-left:6%;
    
}
.img{
    border: solid 2px;
    padding:3px;
    width:30%;
    height:30%;
    border-radius: 5px;
}
.img:hover{
    transition: transform .5s;
    transform: scale(1.5);
    border:solid;
    padding:0;
    border-radius: 5%;
}
.link{
    text-align: center;
    background-color: rgba(211,211,211,0.7);
}
.RAY{
    background-image: linear-gradient(dodgerblue,deepskyblue);
    margin-left: 35%;
    margin-right:35%;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}





